<h3 style="margin-top: 100px;text-align: center;">Log in to your account:</h3>
<p></p>

<form style="text-align: center;" method="post" action="/signup">
  <p><input type="text" name="username" placeholder="Username"></p>
  <p><input type="password" name="password" placeholder="Password"></p><br>
  </br>
  <input class="btn btn-primary" type="submit" value="Submit">
</form>

