<center>
<h1>Crypto Currency</h1>
	<strong>Listing</strong>
	 <br/><br/>
	    <div class="jumbotron">
		
		<strong>
		<% @coins %>

	    <% for x in @coins %>
	    <% for coin in @my_coins %>
	        <% if coin == x["symbol"] %>
	            <%= x["name"] %>: $<%= x["price_usd"] %><br/>
	            Rank: <%= x["rank"] %><br/><br/>
	            <% end %>
	        <% end %>
	        <% end %>

	     
        </div>
    </strong>
</center>

  
 


        



