<div class="jumbotron jumbotron-home">
      <div class="container">
        <link href="https://fonts.googleapis.com/css?family=Gugi" rel="stylesheet">
            <h1 style="text-align: center;"><p class="text-light">Create your own shopping lists!</p></h1>
            <h1 style="text-align: center;"><p class="text-light">Simple and easy.</p></h1>

        </div>
    </div>

<div class="container">
	    <div class="row">
	        <div class="col-md-4">
	            <h2>List Samples</h2>
	            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
	            
	        </div>
	        <div class="col-md-4">
	            <h2>Special Features</h2>
	            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
	        </div>
	        <div class="col-md-4">
	            <h2>About</h2>
	            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
	        </div>
	    </div>
    </div>

    
