<h2>Create new info</h2>


<form action="/infos" method="post">
	<input type="text" name="info[name]" placeholder="Enter name">
    <input type="text" name="info[year]" placeholder="Enter year">
    <input type="submit" value="New Info">
</form>

